.castList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6px;
}
.castListItem {
  width: 120px;
  height: 254px;
  overflow: hidden;
  border: 1px solid antiquewhite;
  border-radius: 4px;
}
.castListSubtitle {
  margin-left: 2px;
}
.castListDescr {
  margin-left: 2px;
}
